* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(135deg, ivory 0%, #e2d1c3 100%); */
}

.navbar {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vmax;
  position: sticky;
  top: 0;
  z-index: 1;
}

.bg-img {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("./assets/Background.webp");
  opacity: 0.05;
  top: 0;
}

.bg-color {
  z-index: -2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 50%, rgba(255, 255, 255, 1) 100%);
  background-size: 100% 100%;
}
#nav-option {
  color: #000;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease-out;
}

#nav-option:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 30px;
  height: 1.8px;
  bottom: -1px;
  left: 0;
  background-color: #000;
  transition: all 0.25s ease-out;
}

#nav-option:hover:after {
  transform: scaleX(0.9);
}

#nav-option:active:after {
  transform: scaleX(0.4);
}

.icon-animate {
  cursor: pointer;
  animation: bigsmall 0.5s infinite alternate;
}

@keyframes bigsmall {
  0% {
    transform: scale(1); /* 100% size */
  }
  100% {
    transform: scale(1.2); /* 120% size */
  }
}

