name: Auto Cherry Pick
on:
  pull_request:
    branches:
      - main
    types: ["closed", "labeled"]

jobs:
  xealth-auto-cherry-pick:
    permissions:
      pull-requests: write
      statuses: read
      contents: write
    runs-on: ubuntu-latest
    name: Xealth Auto Cherry Picker
    if: github.event.pull_request.merged == true
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Fetch Latest Changes
        run: git fetch --all

      - name: Rebase on Latest Branch
        run: |
          git checkout -b cherry-pick-temp
          git rebase origin/main || git rebase --abort

      - name: Xealth Auto Cherry Pick
        uses: Xealth/cherry-pick-action@v1.1.0
        with:
          allowUserToSpecifyBranchViaLabel: 'true'
          labelPatternRequirement: 'CP v'
          userBranchPrefix: 'v'
          labels: |
            cherry-pick
          reviewers: |
            aReviewerUser

      - name: Push Changes
        run: git push --force-with-lease origin HEAD

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
